html {
  background-color: rgb(49,49,49);
  color: #E3E3E3;
  text-align: center;
}

h1, h3, h4, h5, h6 {
  font-size: 40px;
  line-height: 5px;
}

h2 {
  font-size: 20px;
  text-align: left;
}

p {
  font-size: 24px;
}

ul {
  list-style-position: inside;
  list-style-type: square;
  font-size: 24px;
  padding-right: 65px;
}

ol {
  list-style-position: inside;
  font-size: 24px;
  padding-right: 65px;
  text-align: left;
}

a:link {
  color: #99C7E2;
}

a:hover {
  color:#aee0fd;
}

a:active {
  color:#7192a5;
}

a:visited {
  color:aqua;
}

img {
  box-shadow: 0px 0px 25px;
}